@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <h3>Выберите файл для загрузки</h3>
        <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
            <input type="file" name="uploadedFile" /><br>
            <input type="submit" value="Загрузить" />
        </form>

        <h3>Ваши файлы</h3>
        <table class="table">
            @foreach (var f in Model)
            {
                <tr>
                    <td><p>@f.User.Email</p></td>
                    <td><p>@f.FileName</p></td>
                </tr>
            }
        </table>

        if (User.IsInRole("admin"))
        {
            <partial name="_AdminIndex" />
        }
    }
    else
    {
        <br />
        <p>Авторизируйтесь, для начала работы</p>
    }
</div>
